@use 'assets/styles/_theme.scss' as theme;
@use 'assets/styles/common/_common.scss' as common;

.myaccount-component {
    font-family: theme.$description-font;
    .first-row {
        @include common.size(33%, 100%);
        @include common.flex-column(space-around, flex-start);
        .update-btn {
            @include common.size(35px, 33px);
            @include common.shape(theme.$gray-color, transparent, 4px);
            padding: 2px;
            &:hover {
                @include common.hover-event();
                background: rgba(128, 128, 128, 0.574);
                font-weight: 600;
            }
        }
        .email-box {
            @include common.size(90%, fit-content);
            @include common.flex-column(space-between, flex-start);
            background: transparentize(theme.$gray-color, 0.9);
            border-radius: 5px;
            padding: 5%;
            .auth-icon {
                @include common.size(8%, fit-content);
                padding: 8px;
                border-radius: 50%;
                margin-bottom: 6%;
                color: white;
            }
            .auth-icon.success {
                background: green;
            }
            .auth-icon.loading {
                background: theme.$gray-color;
            }
            .user-email {
                @include common.size(100%, 33px);
                @include common.flex-row(space-between, center);
                .email-input {
                    @include common.size(90%, 33px);
                    @include common.shape(transparent, transparent, 0);
                    //text-align: center;
                    font-size: 1.5em;
                    letter-spacing: 0.02em;
                    color: black;
                }
                .email-input.update {
                    @include common.shape(transparent, 0.8px solid gray, 4px);
                    font-size: 1.05em;
                    padding-left: 2%;
                    margin-right: 2%;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .auth-text {
                margin-top: 1.5%;
                font-size: 0.8em;
            }
            .authcode-check {
                margin-top: 4%;
                .auth-text.update {
                    color: gray;
                }
                .authcode-input {
                    @include common.size(140px, 33px);
                    @include common.shape(transparent, 0.3px dotted gray, 4px);
                    padding-left: 3%;
                    &:focus {
                        outline: none;
                    }
                }
                .update-btn.authcode {
                    margin-left: 4%;
                }
            }
            .auth-text.success {
                color: green;
                font-weight: 600;
            }
            // focus 도 함께 처리
            &:hover {
                transform: scale(1.02);
                transition: 0.4s ease-in-out;
                background: transparentize(theme.$gray-color, 0.5);
            }
        }
        .pw-box {
            @include common.size(90%, fit-content);
            @include common.flex-column(center, flex-end);
            background: transparentize(theme.$gray-color, 0.9);
            border-radius: 4px;
            font-size: 1.1em;
            padding: 20px;

            .icon {
                @include common.size(8%, fit-content);
                margin-bottom: -2%;
                padding: 8px;
                background: theme.$sub-color;
                border-radius: 50%;
                color: theme.$dashboard-color;
            }
            .btn-box {
                .update-btn.update {
                    background: transparentize(theme.$sub-color, 0.4);
                    @include common.size(150px, 35px);
                }
            }
            &:hover {
                transform: scale(1.01);
                transition: 0.4s ease-in-out;
                background: transparentize(theme.$gray-color, 0.5);
            }
        }
        .date-box {
            @include common.size(90%, fit-content);
            padding: 20px;
            background: transparentize(theme.$gray-color, 0.9);
            border-radius: 4px;
            font-size: 1.2em;
            p {
                font-size: 0.8em;
            }
            &:hover {
                transform: scale(1.02);
                transition: 0.4s ease-in-out;
                background: transparentize(theme.$gray-color, 0.5);
            }
        }
    }
    .second-row {
        @include common.size(33%, fit-content);
        @include common.flex-column(space-between, center);
        padding: 5%;

        .profile-box {
            @include common.flex-column(space-between, center);
            padding: 20px 0;
            background: transparentize(theme.$gray-color, 0.9);
            border-radius: 4px;

            .pic-box {
                @include common.flex-column();
                .user-pic {
                    @include common.size(80%, 80%);
                    @include common.shape(transparent, transparent, 50%);
                }
                .user-pic.update {
                    transform: scale(0.85);
                    padding: 15px;
                    border: 8px double theme.$gray-color;
                }
                .btn-container {
                    @include common.flex-row(center, center);
                    margin-top: -4%;
                    .btn {
                        @include common.size(50px, 33px);
                        @include common.shape(
                            transparentize(theme.$gray-color, 0.7),
                            transparent,
                            4px
                        );
                        margin-right: 2%;
                        &:hover {
                            @include common.hover-event();
                            background: theme.$gray-color;
                            font-weight: 600;
                        }
                    }
                }
            }
            .name-box {
                @include common.flex-column(center, flex-start);
                margin-top: 4%;

                .name-input {
                    @include common.size(240px, 40px);
                    @include common.shape(transparent, transparent, 0);

                    text-align: center;
                    font-size: 1.3em;
                    color: black;
                }
                .name-input.update {
                    @include common.shape(transparent, 0.8px solid gray, 4px);
                    font-size: 1.1em;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .update-btn {
                @include common.shape(
                    transparentize(theme.$gray-color, 0.6),
                    transparent,
                    4px
                );
                padding: 8px;
                margin-top: 4%;
                &:hover {
                    @include common.hover-event();
                    background: theme.$gray-color;
                    font-weight: 600;
                }
            }
            &:hover {
                transform: scale(1.02);
                transition: 0.4s ease-in-out;
                background: transparentize(theme.$gray-color, 0.5);
            }
        }
    }
    .third-row {
        @include common.size(33%, 100%);
        @include common.flex-column(space-around, flex-start);

        .pet-box {
            @include common.size(90%, fit-content);
            @include common.flex-row();
            flex-wrap: wrap;
            padding: 20px;
            background: transparentize(theme.$gray-color, 0.9);
            border-radius: 4px;
            .noPet-text {
                color: theme.$dark-gray-color;
            }
            .pet-item {
                @include common.size(50%, fit-content);
                @include common.flex-column();
                .pet-pic {
                    margin-bottom: 5%;
                    border-radius: 50%;
                }
            }
            &:hover {
                transform: scale(1.02);
                transition: 0.4s ease-in-out;
                background: transparentize(theme.$gray-color, 0.5);
            }
        }
        .community-box {
            @include common.size(90%, fit-content);
            @include common.flex-column(center, flex-start);
            padding: 20px;
            background: transparentize(theme.$gray-color, 0.9);
            border-radius: 4px;
            .icon {
                @include common.size(8%, fit-content);
                margin-bottom: 5%;
                color: rgb(255, 209, 5);
            }
            &:hover {
                transform: scale(1.02);
                transition: 0.4s ease-in-out;
                background: transparentize(theme.$gray-color, 0.5);
            }
        }
    }
}
