@use 'assets/styles/_theme.scss' as theme;
@use 'assets/styles/common/_loginSignup.scss' as s_common;
@use 'assets/styles/common/_common.scss' as common;
@use 'Login/styles/_style.scss' as login;

/* page/Signup */
.signup-container {
    .signup {
        .close-icon {
            @include s_common.close-icon();
            margin-left: 90%;
        }
        .welcome-text {
            @include s_common.text($top: 0, $font-size: 1.7em);
        }
        .sub-text {
            @include s_common.text($top: 1.9%, $font-size: 0.75em);
        }
        .profile-text {
            @include s_common.text($top: 1.9%, $font-size: 0.7em);
            text-align: center;
        }
        .alert-text {
            @include s_common.text(
                $top: -2.1%,
                $bottom: '0.5%',
                $font-size: 0.7em
            );
            margin-left: 2%;
            color: firebrick;
        }
        .pw-check-component {
            @include common.flex-row($justify-content: flex-start);
            margin-top: -7.7%;
            .pw-check {
                @include login.font-opacity(gray, 0.9);
                @include common.flex-row();
                margin-right: 20px;
                .text {
                    font-size: 0.66em;
                    font-weight: 600;
                }
            }
            .done {
                color: theme.$main-color;
                font-weight: 800;
                font-size: 1.1em;
            }
        }
    }
}

.profile-upload-icon {
    color: theme.$main-color;
    opacity: 0.5;

    &:hover {
        transform: scale(1.03);
        transition: opacity 0.2s ease-in;
        opacity: 0.8;
        cursor: pointer;
    }
}

/* components / EmailAuth */
.auth-modal {
    .close-icon {
        @include s_common.closeIcon();
    }
    .header {
        @include common.flex-row();
        margin-top: 10px;
        .already-text {
            text-align: center;
            background: firebrick;
            padding: 2px 6px;
            margin-bottom: -4%;
            color: white;
            font-size: 0.8em;
            font-weight: 700;
        }
        .sending-icon {
            margin-right: 10px;
            animation-duration: 4s;
            animation-name: fullCheck;
            animation-iteration-count: infinite;
        }
        .header-text {
            @include s_common.text($top: 0, $bottom: 0, $font-size: 1.3em);
        }
    }
    .main {
        @include s_common.text($top: 15px, $bottom: 40px, $font-size: 0.9em);
        text-align: center;
        .desc-text {
            line-height: 1.5em;
        }
        .auth-container {
            @include common.flex-row();
            height: 40px;
            align-items: baseline;

            .auth-input-container {
                @include common.flex-column();
                .auth-input {
                    @include s_common.text(
                        $top: 10px,
                        $bottom: 0,
                        $font-size: 1.2em
                    );
                    @include common.shape();
                    width: 200px;
                    margin-right: 10px;
                    padding-bottom: 5px;
                    text-align: center;
                    font-weight: 700;
                    border-bottom: 2.5px solid theme.$main-color;

                    &:focus {
                        outline: none;
                    }
                }
                .auth-text {
                    margin-top: 4px;
                    color: firebrick;
                    font-size: 0.85em;
                    font-weight: 700;
                }
            }
            .compare-button {
                @include s_common.authButton();
            }
        }
    }

    .footer {
        @include common.flex-row($align-items: baseline);
        margin-top: -2%;
        .time-text {
            @include s_common.text($top: 8px, $font-size: 0.85em);
            margin-right: 10px;

            span {
                font-size: 1.2em;
            }
        }
        .resend-button {
            @include s_common.authButton();
        }
    }
}

@keyframes fullCheck {
    from {
        transform: rotate(0deg);
        color: theme.$sub-color;
    }
    to {
        transform: rotate(360deg);
        color: theme.$main-color;
    }
}

.conflict-modal {
    top: 15%;
    z-index: 12345678;
    .frame {
        @include common.size(60%, 40%);
        @include common.shape(rgb(222, 222, 222), transparent, 10px);
        @include common.shadow(4px, gray, 0.5);
        text-align: center;
        padding: 20px;
        .text {
            margin-top: -1%;
            font-size: 0.85em;
            letter-spacing: 0.07em;
            line-height: 1.5em;
            span {
                font-size: 1.2em;
                font-weight: 600;
            }
        }
        .btn {
            @include common.size(90px, 28px);
            @include common.shape(rgb(229, 227, 227), transparent, 4px);
            @include common.shadow(4px, gray, 0.5);
            &:hover {
                @include common.hover-event();
                @include common.shape(rgb(243, 243, 2), transparent, 4px);
                @include common.shadow(2px, gray, 0.2);
                font-weight: 600;
            }
        }
    }
}

.welcome-modal {
    @include common.size(330px, 300px);
    @include common.shape(theme.$step-color, transparent, 20px);
    @include common.flex-column();
    margin-top: -10%;

    .welcome-text {
        font-family: theme.$description-font;
        span {
            font-family: theme.$english-font;
            color: theme.$main-color;
            font-size: 1.3em;
        }
    }
}
