@use 'assets/styles/_theme.scss';
@use 'assets/styles/common/_common.scss' as common;

@mixin profile-dropdown() {
    @include common.hover-event();
    color: theme.$main-color;
    background-color: transparent;
    box-shadow: 1px 1px 0px 0px theme.$sub-color;
}

.home-header {
    .logo-text {
        color: theme.$main-color;
        font-size: 1.4em;
    }
    .user-profile-picture {
        @include common.size(40px, 40px);
        @include common.shape(theme.$dashboard-color, 2px double #c4c4c4, 50%);

        margin-right: 10px;
    }

    .user-name-text {
        font-size: 0.85em;
        span {
            @include common.font(
                theme.$main-color,
                theme.$function-font,
                1em,
                700
            );
        }
    }
    .user-profile-info {
        @include common.shape(theme.$main-color, transparent, 50%);

        margin-left: 5px;
        color: theme.$dashboard-color;

        &:hover {
            @include profile-dropdown();
        }
    }
    .open-dropdown {
        @include profile-dropdown();
    }
}
