@use 'assets/styles/_theme.scss';
@use 'assets/styles/common/_common.scss' as common;

.breed-option {
    @include common.flex-column();
    @include common.font(
        theme.$main-color,
        theme.$description-font,
        0.65em,
        500
    );
    @include common.shape(transparent, 0.8px solid theme.$main-color, 0);
    margin-right: 1%;

    &:hover,
    &.select {
        @include common.hover-event();
        @include common.shape(transparent, 3px solid black, 0);
        @include common.shadow(4px, black, 0.2);
        font-weight: 700;
        color: black;
    }
}

.breed-modal {
    .close-icon {
        color: #c4c4c4;
        &:hover {
            @include common.hover-event();
            color: theme.$dark-gray-color;
        }
    }
    .delete-icon {
        &:hover {
            @include common.hover-event();
        }
    }
}
