@use 'assets/styles/_theme.scss';
@use 'assets/styles/common/_common.scss' as common;

.breed-option {
    @include common.flex-column();
    @include common.font(
        theme.$main-color,
        theme.$description-font,
        0.65em,
        500
    );
    @include common.shape(transparent, 1px solid theme.$main-color, 4px);
    margin-right: 1%;

    &:hover,
    &.select {
        @include common.hover-event();
        @include common.shape(theme.$sub-color, 3px solid theme.$main-color, 0);

        box-shadow: 3px 3px 0px 0px transparentize(theme.$main-color, 0.5);
        font-weight: 700;
        color: black;
    }
}
.breed-modal {
    .close-icon {
        color: #c4c4c4;

        &:hover {
            cursor: pointer;
            color: #858585;
        }
    }
    .delete-icon {
        &:hover {
            cursor: pointer;
        }
    }
}
