@use 'assets/styles/_theme.scss';

.breed-option {
    margin-right: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 0.65em;
    color: theme.$main-color;

    background: transparent;
    border: 1px solid theme.$main-color;
    border-radius: 4px;

    &:hover,
    &.select {
        cursor: pointer;
        transition: 0.2s ease-in;
        border: 2px solid theme.$main-color;
        background: theme.$sub-color;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        font-weight: 700;
        color: black;
    }
}
.breed-modal {
    .close-icon {
        color: #c4c4c4;

        &:hover {
            cursor: pointer;
            color: #858585;
        }
    }
    .delete-icon {
        &:hover {
            cursor: pointer;
        }
    }
}
