@use 'assets/styles/_theme.scss';
@use 'assets/styles/common/_common.scss' as common;

.page-step1 {
    .profile-text {
        font-size: 0.9em;
        margin-bottom: -8px;
        color: #686868;
    }
    .profile-dsc-text {
        font-size: 0.8em;
        color: #68686890;
    }
}

@mixin icon-shadow($color: theme.$main-color, $opacity: 0.5) {
    @include common.shadow(3px, theme.$main-color, $opacity);
    color: $color;
}
@mixin icon-border-shadow($border: 1px solid theme.$sub-color, $opacity) {
    @include common.shadow(3px, theme.$main-color, $opacity);
    border: $border;
}

.page-step2 {
    .step2-header {
        @include common.flex-row($justify-content: space-between);
        width: 80%;
    }
    .add-breed {
        @include common.flex-row();

        .more-icon {
            @include common.shape(theme.$sub-color, transparent, 4px);
            @include icon-shadow(theme.$dashboard-color, 0.5);
            padding: 10px;

            &:hover,
            &.open {
                @include common.hover-event();
                @include icon-shadow(theme.$main-color, 0.3);
            }
        }
        .more-button {
            @include icon-border-shadow(1px solid theme.$sub-color, 0.5);
            &:hover,
            &.open {
                @include common.hover-event();
                @include icon-border-shadow(1px solid theme.$main-color, 0.2);
                font-weight: 700;
            }
        }
        .more-button:hover + .more-icon {
            @include icon-shadow(theme.$main-color, 0.2);
        }
    }
    .check-breed {
        @include common.flex-row($justify-content: flex-start);
        width: 70%;
        .delete-icon {
            &:hover {
                @include common.hover-event();
            }
        }
    }
    .next-button {
        @include common.flex-row();
        width: 30%;
    }
}

.next-btn {
    @include common.size(120px, 35px);
    @include common.shape(
        transparent,
        2.5px solid transparentize(theme.$sub-color, 0.2),
        0
    );
    @include common.shadow(4px, theme.$sub-color, 0.5);

    margin-left: 10px;
    color: theme.$dark-gray-color;

    &:hover {
        @include common.hover-event();
        @include icon-border-shadow(2.5px solid theme.$main-color, 0.6);

        transform: scale(1.01);
        color: black;
        font-weight: 800;
    }
}

@mixin span-style {
    @include common.font(black, theme.$description-font, 1.5em, 600);
    @include common.shape(transparent, 2px solid black, 0);
    @include common.shadow(3px, black, 0.2);

    padding: 5px;
    margin-top: 0.5%;
    letter-spacing: 0.1em;
}

.page-step3 {
    .dog-picture {
        @include common.shape(transparent, 4px solid black, 0);
        @include common.shadow(7px, black, 0.2);
        padding: 5px;
        margin-top: 7.5%;
        margin-left: -8%;
    }
    .dog-info-container {
        .dog-info-sub {
            @include common.flex-row(center, flex-start);
        }

        .dog-info {
            @include common.size(100%, 25%);
            @include common.flex-column(center, flex-start);

            font-size: 0.75em;
            color: theme.$dark-gray-color;
            margin-bottom: 1%;

            .dog-info-breeds {
                @include common.size(100%, 100%);

                margin-top: 1.6%;
                padding-top: 0.5%;

                .breed {
                    @include span-style();
                    margin-right: 2%;
                }
            }
        }
        .gender {
            span {
                @include common.size(24px, 35px);
                text-align: center;
            }
        }

        .birth {
            margin-bottom: 5%;
        }

        .name,
        .birth,
        .gender {
            span {
                @include span-style();
            }
        }
    }
}
