@use 'assets/styles/_theme.scss';
@mixin display-row($justify-content: center) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify-content;
}

.page-step1 {
    .profile-text {
        font-size: 0.9em;
        margin-bottom: -8px;
        color: #686868;
    }
    .profile-dsc-text {
        font-size: 0.8em;
        color: #68686890;
    }
}

.page-step2 {
    .step2-header {
        @include display-row($justify-content: space-between);
        width: 80%;
    }
    .add-breed {
        @include display-row();
        .more-icon {
            padding: 10px;
            background-color: theme.$sub-color;
            color: theme.$dashboard-color;
            border-radius: 4px;
        }
        .more-button {
            border: 1px solid theme.$sub-color;
            &:hover {
                transition: 0.2s;
                cursor: pointer;
                font-weight: 800;
            }
        }
    }
    .check-breed {
        @include display-row($justify-content: flex-start);
        width: 70%;
        .delete-icon {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .next-button {
        width: 30%;
        @include display-row();
    }
}
