@use 'assets/styles/_theme.scss';
@use 'assets/styles/common/_tabStyle.scss' as tabStyle;
@use 'assets/styles/common/_common.scss' as common;

.dog-info {
    .dog-info-nav {
        @include tabStyle.nav-icon();
    }
}

.register-step-bar {
    @include common.flex-column(space-between, center);
    .step-check-icon {
        @include common.size(13px, 13px);
        @include common.shape(
            theme.$sub-color,
            1.5px solid theme.$sub-color,
            50%
        );

        color: theme.$sub-color;

        &.pre-checked {
            @include common.shape(white, 2px solid theme.$main-color, 50%);
            transition: 0.4s ease-in-out;
            color: white;
        }
        &.checked {
            @include common.shape(white, 1.5px solid theme.$main-color, 50%);
            transition: 0.4s ease-in-out;
            color: theme.$main-color;
        }
    }
    .step-bar {
        @include common.size(2px, 42%);
        background: theme.$step-color;
        transform: rotate(180deg);

        &.checked {
            background: theme.$main-color;
        }
    }
}
