@use '../_theme.scss';
@mixin size($width: 14px, $height: 14px, $opacity: 1) {
    width: $width;
    height: $height;
    opacity: $opacity;
}

/* Layout/About/Main.js */
.slide {
    @include size($width: 80%, $height: fit-content, $opacity: 0);

    position: absolute;
    transition: opacity ease-in-out 0.5s;
}

.active-anim {
    opacity: 1;
}

.paw {
    @include size($width: 12px, $height: 12px, $opacity: 0.5);
    margin: 5px;
    color: theme.$main-color;

    &:hover {
        @include size;
        cursor: pointer;
        transition: ease-in 0.4s;
    }
}
.paw.active {
    @include size;
}

/* Layout/About/Footer.js */
.contact-icon {
    @include size($width: 16px, $height: 16px, $opacity: 0.5);

    margin: 0 2px;
    color: black;

    border-radius: 6px;

    &:hover {
        @include size($width: 18px, $height: 18px, $opacity: 1);
        transition: 0.4s ease-in-out;

        &.kakao {
            background-color: black;
            color: #ffe600;
            border-radius: 2px;
        }
        &.facebook {
            color: #1877fe;
        }
        &.insta {
            background: linear-gradient(
                45deg,
                #405de6,
                #5851db,
                #833ab4,
                #c13584,
                #e1306c,
                #fd1d1d
            );
            color: white;
        }
    }
}

/* Component/About/Description/Page2.js */
.info-icon {
    margin-right: 4%;
    margin-top: 4%;
    color: theme.$main-color;
    opacity: 0.6;
}

/* Component/About/Description/Page3.js */
.medical-icon {
    @include size($width: 25px, $height: 25px);
    padding: 10px;
    color: theme.$main-color;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
/* Component/About/Pagination.js */
.button {
    background-color: transparent;
    border: transparent;

    .icon {
        color: theme.$main-color;
        opacity: 0.5;

        &:hover {
            cursor: pointer;
            transition: 0.5s;
            opacity: 1;
        }
    }
}
