@use 'assets/styles/_theme.scss' as theme;
@use 'assets/styles/common/_loginSignup.scss' as common;

.login {
    .close-icon {
        @include common.close-icon();
        margin-left: 80%;
    }
    .welcome-text {
        @include common.text($top: 5%, $bottom: 12%, $font-size: 1.7em);
    }
    .or-text {
        @include common.text($top: 3%, $font-size: 1em);
    }
    .pw-text {
        @include common.text($top: -1%, $font-size: 0.7em);
        margin-left: -30%;
    }
    .signup-text {
        @include common.text($top: 7%, $font-size: 0.8em);
        width: 90%;
        text-align: center;

        button {
            @include common.button(
                $width: fit-content,
                $height: fit-content,
                $border: 1.5px solid theme.$main-color,
                $border-radius: 20px
            );

            margin-right: 1%;
            padding: 2.5px 6px;

            &:hover {
                transition: 0.1s ease-in;
                cursor: pointer;

                color: black;
                border: 1.5px solid black;
            }
        }
    }
}
