@use 'assets/styles/_theme.scss';

/*common*/
@mixin button(
    $width: 0,
    $height: 0,
    $border: transparent,
    $border-radius: 0,
    $background: transparent,
    $font-family: Strawberry Muffins,
    $color: theme.$main-color
) {
    width: $width;
    height: $height;

    font-family: $font-family;
    color: $color;

    background: $background;
    border: $border;
    border-radius: $border-radius;
}
@mixin close-icon {
    width: 27px;
    height: 27px;
    margin-top: -2%;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
        color: theme.$main-color;
    }
}
@mixin text($top: 0, $bottom: 0, $font-size: 0) {
    margin-top: $top;
    margin-bottom: $bottom;

    font-size: $font-size;
}

/* page/Login */
.login {
    .close-icon {
        @include close-icon();
        margin-left: 80%;
    }
    .welcome-text {
        @include text($top: 5%, $bottom: 12%, $font-size: 1.7em);
    }
    .or-text {
        @include text($top: 3%, $font-size: 1em);
    }
    .pw-text {
        @include text($top: -1%, $font-size: 0.7em);
        margin-left: -30%;
    }
    .signup-text {
        @include text($top: 7%, $font-size: 0.8em);
        width: 90%;
        text-align: center;

        button {
            @include button(
                $width: fit-content,
                $height: fit-content,
                $border: 1.5px solid theme.$main-color,
                $border-radius: 20px
            );

            margin-right: 1%;
            padding: 2.5px 6px;

            &:hover {
                transition: 0.1s ease-in;
                cursor: pointer;

                color: black;
                border: 1.5px solid black;
            }
        }
    }
}

/* page/Signup */
.signup {
    .close-icon {
        @include close-icon();
        margin-left: 90%;
    }
    .welcome-text {
        @include text($top: 3%, $font-size: 1.7em);
    }
    .sub-text {
        @include text($top: 1.9%, $font-size: 0.75em);
    }
    .profile-text {
        @include text($top: 1.9%, $font-size: 0.7em);
        text-align: center;
    }
    .alert-text {
        @include text($top: -2.1%, $bottom: '0.5%', $font-size: 0.7em);
        margin-left: 2%;
        color: firebrick;
    }
}
.profile-upload-icon {
    color: theme.$main-color;
    opacity: 0.5;

    &:hover {
        transform: scale(1.03);
        transition: opacity 0.2s ease-in;
        opacity: 0.8;
        cursor: pointer;
    }
}

/* components / EmailAuth */
.auth-modal {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin-top: 10px;

        .sending-icon {
            width: 20px;
            height: 20px;

            margin-right: 10px;

            animation-duration: 3.2s;
            animation-name: fullCheck;
        }
        .header-text {
            @include text($top: 0, $bottom: 0, $font-size: 1.3em);
        }
    }

    .main {
        @include text($top: 15px, $bottom: 40px, $font-size: 0.9em);
        text-align: center;

        .desc-text {
            line-height: 1.5em;
        }
        .auth-container {
            height: 40px;
            align-items: baseline;

            .auth-input {
                @include text($top: 10px, $bottom: 50px, $font-size: 1.1em);

                width: 200px;
                margin-right: 10px;

                text-align: center;
                color: theme.$main-color;
                font-weight: 700;

                border: transparent;
                background: transparent;
                border-bottom: 2.5px solid theme.$main-color;

                &:focus {
                    outline: none;
                }
            }
            .compare-button {
                padding: 7px;
                background: transparent;
                border: 1px solid theme.$main-color;
                border-radius: 4px;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .time-text {
            @include text($top: 8px, $font-size: 0.85em);
            margin-right: 10px;

            span {
                font-size: 1.2em;
            }
        }
        .resend-button {
            padding: 5px;
        }
    }
}

@keyframes fullCheck {
    from {
        transform: rotate(0deg);
        color: theme.$sub-color;
    }
    to {
        transform: rotate(360deg);
        color: theme.$main-color;
    }
}
