@use 'assets/styles/_theme.scss' as theme;
@use 'assets/styles/common/_common.scss' as common;

.pet-check {
    @include common.flex-row(flex-start, center);
    padding-left: 1.5%;
    overflow: auto;

    .section-1 {
        @include common.size(100%, 90%);
        @include common.flex-row(flex-start, center);
        flex-wrap: wrap;
        font-family: theme.$description-font;

        .no-pet-text {
            @include common.size(100%, 90%);
            @include common.flex-column();
            text-align: center;
            font-size: 0.95em;
            p {
                margin-top: -0.8%;
                display: flex;
                align-items: center;
                justify-content: center;
                .plus-icon {
                    @include common.size(14px, 14px);
                    @include common.shape(
                        transparent,
                        1.5px solid theme.$sub-color,
                        5px
                    );
                    margin: 0 4px;
                    padding: 5px;
                    color: theme.$main-color;
                }
            }
        }
        .register-info {
            @include common.size(24%, 89%);
            @include common.shape(
                theme.$dashboard-color,
                5px solid theme.$step-color,
                10px
            );
            margin: 1%;
            transition: 150ms ease-in-out;

            .color-header {
                @include common.size(100%, 15%);
                margin-bottom: -10%;

                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                background: theme.$step-color;
                transition: 150ms ease-in-out;

                .btn {
                    @include common.size(13%, 37px);
                    @include common.shape(white, transparent, 8px);
                    margin-bottom: -2%;
                    padding: 2px;
                    color: theme.$gray-color;
                    font-weight: 700;
                    &:hover {
                        @include common.hover-event();
                        color: theme.$dark-gray-color;
                    }
                    .icon {
                        @include common.size(fit-content, 30px);
                    }
                }
            }
            .color-header.update {
                transition: 150ms ease-in-out;
                background: theme.$gray-color;
                .btn.complete {
                    transition: 150ms ease-in-out;
                    color: rgba(0, 128, 0, 0.5);
                    &:hover {
                        color: green;
                    }
                }
            }
            .main {
                @include common.size(90%, 62%);
                @include common.flex-column(center, flex-start);
                @include common.shape(
                    transparentize(theme.$dashboard-color, 0.6),
                    transparent,
                    10px
                );

                margin: -5% 0 0 5%;
            }
        }
        .register-info.update {
            transform: scale(1.05);
            transition: 150ms ease-in-out;
            border: 5px solid theme.$gray-color;
        }
    }
}
