@use 'assets/styles/_theme.scss' as theme;
@use 'assets/styles/common/_common.scss' as common;

.petinfo-header {
    @include common.flex-row(flex-start, center);
    padding-left: 5%;
    .pet-picture {
        @include common.shape(
            theme.$step-color,
            8px solid theme.$dashboard-color,
            50%
        );
    }
    .pet-name {
        @include common.size(100%, 100%);
        @include common.flex-column(center, flex-start);
        margin: -2% 0 0 2%;
        .name-text {
            @include common.size(90%, fit-content);
            @include common.shape(transparent, transparent, 0);
            color: black;
            font-size: 1.6em;
            font-weight: 600;
        }
        .dday-text {
            margin: -12% 0 0 1%;
            font-size: 0.85em;
            color: theme.$dark-gray-color;
        }
    }
}

.main-info {
    @include common.size(100%, 21%);
    @include common.flex-column(center, flex-start);
    padding-left: 5%;
    .info-label {
        margin-bottom: -3%;
        color: theme.$dark-gray-color;
        font-size: 0.7em;
    }
    .info-text.name {
        margin-bottom: 10%;
        .name-input {
            @include common.shape();
            @include common.font(black, theme.$description-font, 1.1em, 500);
            margin: 5% 0 0 -1.5%;
        }
        .name-input.update {
            @include common.size(230px, 25px);
            @include common.shape(
                transparent,
                1px solid theme.$gray-color,
                4px
            );
            padding: 4px;
            font-size: 0.85em;
            font-weight: 700;
            &:focus {
                outline: none;
            }
        }
    }
    .info-text.gender {
        @include common.size(100%, 100%);
        @include common.flex-row(flex-start, center);
        margin-top: 3%;
        font-size: 1.1em;

        .gender-text {
            @include common.size(28px, 24px);
            @include common.shape(
                transparent,
                1px solid theme.$gray-color,
                4px
            );
            margin-top: 1%;
            padding-top: 4px;
            text-align: center;
            font-size: 0.8em;
            font-weight: 700;
        }
        .gender-change {
            @include common.size(15px, 15px);
            @include common.shape(
                transparentize(theme.$step-color, 0.7),
                transparent,
                50px
            );
            padding: 2px;
            margin-left: 2%;
            font-size: 0.8em;
            color: gray;

            &:hover {
                @include common.hover-event();
                background: theme.$step-color;
            }
        }
    }
    .info-date {
        @include common.flex-row(flex-start, center);
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .info-text.breed {
        @include common.size(100%, 100%);
        @include common.flex-row(flex-start, center);
        margin-top: 5%;

        .breed-container {
            @include common.flex-row(flex-start, flex-start);
            width: 78%;
            flex-wrap: wrap;

            .breed-item {
                @include common.shape(
                    transparentize(theme.$step-color, 0.7),
                    transparent,
                    4px
                );
                padding: 6px;
                margin: 0 3% 1% 0;

                font-size: 0.8em;
            }
            .breed-item.update {
                @include common.shape(
                    transparent,
                    1px solid theme.$gray-color,
                    4px
                );
            }
        }
        .breed-btn {
            @include common.shape(
                transparentize(theme.$dark-gray-color, 0.8),
                transparent,
                4px
            );
            width: 17%;

            padding: 6px;
            margin-left: 0;

            &:hover {
                @include common.hover-event();
                background-color: lightgray;
            }
        }
    }
}
.delete-text {
    margin: -2% 0 0 55%;
    font-size: 0.75em;
    color: gray;
    &:hover {
        @include common.hover-event();
        text-decoration: underline;
    }
}
