@use 'assets/styles/_theme.scss';
@use 'assets/styles/common/_common.scss' as common;

@mixin weather-select($color, $background) {
    padding: 5px;
    color: $color;
    background: $background;
}

.write-container {
    @include common.size(100%, 100%);
    display: flex;
    flex-direction: column;
    //main
    .write-main {
        @include common.size(90%, 84%);
        @include common.flex-row(center, flex-start);
        padding-left: 5%;
        padding-top: 2%;
        // 사진 업로드 : 문제 없음
        .pic-container {
            @include common.size(40%, 100%);
            .pic-select-yet-component {
                @include common.size(95%, 80%);
                .pic-upload-icon {
                    @include common.size(45px, 45px);
                    color: theme.$gray-color;
                    &:hover {
                        @include common.hover-event();
                        transform: scale(1.02);
                        color: black;
                        color: theme.$dark-gray-color;
                    }
                }
                .pic-upload-text {
                    @include common.font(
                        gray,
                        theme.$description-font,
                        0.8em,
                        500
                    );
                    margin-top: -0.5%;
                    text-align: center;
                }
                .pic-upload-icon:hover + .pic-upload-text {
                    @include common.hover-event();
                    transform: scale(1.02);
                    color: theme.$dark-gray-color;
                }
            }
            .pic-select-component {
                @include common.size(fit-content, fit-content);
                .select-btn {
                    @include common.flex-row();
                    .pic-btn {
                        @include common.size(100px, 30px);
                        @include common.shape(
                            transparentize(theme.$gray-color, 0.7),
                            transparent,
                            3px
                        );
                        margin: 5% 0 0 7px;
                        color: theme.$dark-gray-color;

                        &:hover {
                            @include common.hover-event();
                            background: theme.$gray-color;
                            color: black;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        // Navbar : 문제 없음
        .nav-container {
            @include common.size(3%, 100%);
            margin: 0 1.5% 0 1.5%;
            .background-color-picker {
                position: fixed;
                margin: -5% 0 0 3%;
                z-index: 1000;
            }
        }
        .journal-container {
            @include common.size(48%, 85%);
            @include common.shape(
                transparentize(whitesmoke, 0.7),
                0.7px solid gray,
                0
            );

            display: flex;
            flex-direction: column;

            .journal-dateweather {
                @include common.size(100%, 12%);
                @include common.flex-row(flex-start, center);
                border-bottom: 0.6px solid black;
            }
            .journal-title {
                @include common.size(100%, 12%);
                @include common.flex-row(flex-start, center);
                border-bottom: 0.6px solid black;
                .title-text {
                    width: 10%;
                    margin-left: 1%;
                    text-align: center;
                }
                .input-text {
                    @include common.size(85%, 90%);
                    @include common.shape();
                    font-size: 1.1em;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-size: 0.85em;
                        color: gray;
                    }
                }
            }
            .journal-content {
                @include common.size(100%, 76%);
                padding-top: 0.5%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;

                .content-textarea {
                    @include common.size(35%, 48%);
                    @include common.shape();
                    @include common.font(
                        black,
                        theme.$description-font,
                        1.1em,
                        500
                    );
                    position: absolute;
                    overflow: auto;

                    padding: 0 1.5%;
                    z-index: 2;
                    line-height: 3.3em;

                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
    //footer
    .write-footer {
        @include common.size(93%, 8%);
        @include common.flex-row(flex-end, center);
        margin-top: -4%;

        .pet-choice {
            @include common.flex-column(center, flex-end);
            width: 80%;
            margin: 0 3% 0 0;

            .text-label {
                margin-bottom: 0.5%;
                color: theme.$dark-gray-color;
                font-size: 0.75em;
            }
            .pet-list {
                @include common.flex-row(flex-end, center);
                @include common.font(
                    theme.$dark-step-color,
                    theme.$description-font,
                    0.9em,
                    500
                );
                width: 100%;

                label {
                    display: flex;
                    justify-content: center;
                    margin-left: 1.5%;

                    .check-input {
                        display: none;
                    }
                    .custom-checkbox {
                        @include common.size(16px, 16px);
                        display: inline-block;
                        margin-right: 4px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .check-input:checked ~ .custom-checkbox {
                        color: theme.$main-color;
                    }
                    .check-input:checked ~ .custom-label {
                        @include common.font(
                            theme.$main-color,
                            theme.$description-font,
                            1.1em,
                            600
                        );
                    }
                }
            }
        }

        .complete-btn {
            @include common.size(100px, 35px);
            @include common.shape(
                transparent,
                2px solid transparentize(theme.$main-color, 0.7),
                0
            );
            @include common.shadow(4px, theme.$main-color, 0.7);

            &:hover {
                @include common.hover-event();
                @include common.shadow(2px, theme.$main-color, 0.2);

                border: 2.5px solid theme.$main-color;
                font-weight: 600;
            }
        }
    }
}

.weather-picker {
    width: 50%;
    text-align: center;
    border-radius: 10px;

    .weather-icon {
        @include common.size(25px, 25px);
        margin: 0 3px 0 3px;

        color: rgb(187, 187, 187);
        border-radius: 50%;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
        &.sunny {
            @include weather-select($color: yellow, $background: orange);
        }
        &.cloudy {
            @include weather-select(
                $color: rgb(198, 198, 198),
                $background: black
            );
        }
        &.sunny-cloudy {
            @include weather-select(
                $color: rgb(72, 95, 104),
                $background: rgb(199, 199, 199)
            );
        }
        &.thunder {
            @include weather-select(
                $color: yellow,
                $background: rgb(0, 0, 105)
            );
        }
        &.snow {
            @include weather-select($color: white, $background: firebrick);
        }
        &.rainy {
            @include weather-select(
                $color: rgb(46, 144, 180),
                $background: rgb(184, 193, 196)
            );
        }
        &.rainbow {
            @include weather-select($color: red, $background: orange);
        }
    }
}
